# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Git
.git
.gitignore

# Cache
.cache/
huggingface/
hf_cache/

# Local files
*.jpg
*.jpeg
*.png
*.webp
*.log
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/